:root {
    --color-main: #D83C3C;
    --color-darker: #b21919;
    --color-bg: #ffffff;
    --color-border: #2E2E2E;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    background-color: var(--color-bg);
    overflow: hidden;
}

nav {
    padding: 1%;
    background-color: var(--color-main);
    background-size: cover;
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-bottom: var(--color-border) 5px solid;
}

img {
    width: 25%;
    height: 10vh;
}

.pics {
    width: 30%;
    height: 30vh;
    margin: 1%;
    border: var(--color-border) 5px solid;
    cursor: pointer;
}
#darkmode {
    background-image: url(./img/moon.webp);
    background-size: contain;
    margin-right: 80%;
    margin-bottom: 7.5%;
}

#levels {
    margin: 3%;
}

#LogIn {
    background-color: var(--color-darker);
    margin: 35%;
    margin-top: 5%;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border: solid 5px var(--color-border);
    border-radius: 7%;
}
#loginButton {
    margin-top: 50%;
    padding: 2.5%;
    padding-right: 60%;
    border: var(--color-border) 2px solid;
    border-radius: 7%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.5px;
}
input {
    padding: 2%;
    border: var(--color-border) 2px solid;
    border-radius: 7%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.5px;
}
#waldoPopUp {
    position: absolute;
    width: 15%;
    height: 15vh;
    margin-left: 80%;
    bottom: 0;
}
#gameOverlay {
    z-index: 100000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
    width: 90vw;
    display: none;
}
#gameImage {
    width: 100%;
    height: 100%;
}
#backOverlay {
    display: none;
    z-index: 50000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
}

h1 {
    color: white;
    scale: 4;
    margin-left: 40%;
    margin-right: 40%;
}

h2 {
    color: white;
    scale: 3;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 10%;
    margin-top: 10%;
}

#explanation {
    width: 12vw;
    height: 15vh;
}

#ready {
    cursor: pointer;
    scale: 7;
    color: var(--color-main);
}

#waldo1 {
    position: absolute;
    margin-left: 5%;
    margin-top: -5.5%;
    width: 2vw;
    height: 6vh;
}

#waldo2 {
    position: absolute;
    margin-left: 16.2%;
    margin-top: -32%;
    width: 1.5vw;
    height: 5.2vh;
}

#waldo3 {
    position: absolute;
    margin-left: 16.5%;
    margin-top: -17%;
    width: 1vw;
    height: 3vh;
}

#waldo4 {
    position: absolute;
    margin-left: 83.5%;
    margin-top: -16%;
    width: 3.5vw;
    height: 6vh;
}

#waldo5 {
    position: absolute;
    margin-left: 73%;
    margin-top: -27.3%;
    width: 1.5vw;
    height: 4vh;
}

#waldo6 {
    position: absolute;
    margin-left: 63.3%;
    margin-top: -8%;
    width: 1vw;
    height: 3.5vh;
}