:root {
    --color-main: #D83C3C;
    --color-darker: #b21919;
    --color-bg: #ffffff;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    background-color: var(--color-bg);
    overflow: hidden;
}

nav {
    padding: 1%;
    background-color: var(--color-main);
    background-size: cover;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

img {
    width: 25%;
    height: 10vh;
}

.pics {
    width: 30%;
    height: 30vh;
    margin: 1%;
}
#darkmode {
    background-image: url(./img/moon.webp);
    background-size: contain;
    margin-right: 80%;
    margin-bottom: 7.5%;
}
#levels {
    margin: 3%;
}
#LogIn {
    background-color: var(--color-darker);
    margin: 35%;
    margin-top: 5%;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    border: solid 1px white;
    border-radius: 7%;
}
#loginButton {
    
}